<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.metro.mapper.StatisticMapper" >
  <resultMap id="BaseResultMap" type="com.mt.metro.entity.Statistic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="totalnum" property="totalnum" jdbcType="INTEGER" />
    <result column="citynum" property="citynum" jdbcType="INTEGER" />
    <result column="statime" property="statime" jdbcType="DATE" />
    <result column="city" property="city" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, totalnum, citynum, statime, city
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mt.metro.entity.StatisticExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statistic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from statistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from statistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mt.metro.entity.StatisticExample" >
    delete from statistic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mt.metro.entity.Statistic" >
    insert into statistic (id, totalnum, citynum, 
      statime, city)
    values (#{id,jdbcType=INTEGER}, #{totalnum,jdbcType=INTEGER}, #{citynum,jdbcType=INTEGER}, 
      #{statime,jdbcType=DATE}, #{city,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.metro.entity.Statistic" >
    insert into statistic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="totalnum != null" >
        totalnum,
      </if>
      <if test="citynum != null" >
        citynum,
      </if>
      <if test="statime != null" >
        statime,
      </if>
      <if test="city != null" >
        city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="totalnum != null" >
        #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="citynum != null" >
        #{citynum,jdbcType=INTEGER},
      </if>
      <if test="statime != null" >
        #{statime,jdbcType=DATE},
      </if>
      <if test="city != null" >
        #{city,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mt.metro.entity.StatisticExample" resultType="java.lang.Integer" >
    select count(*) from statistic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update statistic
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.totalnum != null" >
        totalnum = #{record.totalnum,jdbcType=INTEGER},
      </if>
      <if test="record.citynum != null" >
        citynum = #{record.citynum,jdbcType=INTEGER},
      </if>
      <if test="record.statime != null" >
        statime = #{record.statime,jdbcType=DATE},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update statistic
    set id = #{record.id,jdbcType=INTEGER},
      totalnum = #{record.totalnum,jdbcType=INTEGER},
      citynum = #{record.citynum,jdbcType=INTEGER},
      statime = #{record.statime,jdbcType=DATE},
      city = #{record.city,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.metro.entity.Statistic" >
    update statistic
    <set >
      <if test="totalnum != null" >
        totalnum = #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="citynum != null" >
        citynum = #{citynum,jdbcType=INTEGER},
      </if>
      <if test="statime != null" >
        statime = #{statime,jdbcType=DATE},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.metro.entity.Statistic" >
    update statistic
    set totalnum = #{totalnum,jdbcType=INTEGER},
      citynum = #{citynum,jdbcType=INTEGER},
      statime = #{statime,jdbcType=DATE},
      city = #{city,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>