<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.metro.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.mt.metro.entity.User1">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="u_id" property="uId" jdbcType="INTEGER"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="statement" property="statement" jdbcType="VARCHAR"/>
        <result column="default_station" property="defaultStation" jdbcType="VARCHAR"/>
        <result column="coin_number" property="coinNumber" jdbcType="INTEGER"/>
        <result column="week_number" property="weekNumber" javaType="INTEGER"/>
        <result column="daily_score" property="dailyScore" jdbcType="INTEGER"/>
        <result column="week_score" property="weekScore" jdbcType="INTEGER"/>
        <result column="total_score" property="totalScore" jdbcType="INTEGER"/>
        <result column="daily_ranking" property="dailyRanking" jdbcType="INTEGER"/>
        <result column="week_ranking" property="weekRanking" jdbcType="INTEGER"/>
        <result column="current_strength" property="currentStrength" jdbcType="INTEGER"/>
        <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="User1ResultMap" type="com.mt.metro.entity.User1">
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="daily_score" property="dailyScore" jdbcType="INTEGER"/>
        <result column="week_score" property="weekScore" jdbcType="INTEGER"/>
    </resultMap>


    <resultMap id="BaseResultMap" type="com.mt.metro.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="u_id" property="uId" jdbcType="INTEGER"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="statement" property="statement" jdbcType="VARCHAR"/>
        <result column="default_station" property="defaultStation" jdbcType="VARCHAR"/>
        <result column="current_strength" property="currentStrength" jdbcType="INTEGER"/>
        <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, u_id, gender, nickname, city, statement, default_station, current_strength, head_portrait
    </sql>


    <select id="selectInitialInfo" resultMap="UserResultMap">
        select u.*,co.coin_number,co.week_number,car.* from user u,coin co,carbon_ranking car
        where u.id = #{id} and co.user_id=u.id and car.user_id=u.id
    </select>


    <select id="selectDailyRanking" resultMap="UserResultMap">
        select u.nickname,c.daily_score,u.head_portrait
        from user u,carbon_ranking c
        where u.id=c.user_id
        order by c.daily_score desc
    </select>

    <select id="selectWeekRanking" resultMap="UserResultMap">
        select u.nickname,c.week_score,u.head_portrait
        from user u,carbon_ranking c
        where u.id=c.user_id
        order by c.week_score desc
    </select>


    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mt.metro.entity.UserExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.mt.metro.entity.UserExample">
        delete from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.mt.metro.entity.User">
        insert into user (id, u_id, gender,
        nickname, city, statement,
        default_station, current_strength, head_portrait
        )
        values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER},
        #{nickname,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{statement,jdbcType=VARCHAR},
        #{defaultStation,jdbcType=VARCHAR}, #{currentStrength,jdbcType=INTEGER}, #{headPortrait,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.mt.metro.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uId != null">
                u_id,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="statement != null">
                statement,
            </if>
            <if test="defaultStation != null">
                default_station,
            </if>
            <if test="currentStrength != null">
                current_strength,
            </if>
            <if test="headPortrait != null">
                head_portrait,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uId != null">
                #{uId,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="statement != null">
                #{statement,jdbcType=VARCHAR},
            </if>
            <if test="defaultStation != null">
                #{defaultStation,jdbcType=VARCHAR},
            </if>
            <if test="currentStrength != null">
                #{currentStrength,jdbcType=INTEGER},
            </if>
            <if test="headPortrait != null">
                #{headPortrait,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.mt.metro.entity.UserExample" resultType="java.lang.Integer">
        select count(*) from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.uId != null">
                u_id = #{record.uId,jdbcType=INTEGER},
            </if>
            <if test="record.gender != null">
                gender = #{record.gender,jdbcType=INTEGER},
            </if>
            <if test="record.nickname != null">
                nickname = #{record.nickname,jdbcType=VARCHAR},
            </if>
            <if test="record.city != null">
                city = #{record.city,jdbcType=VARCHAR},
            </if>
            <if test="record.statement != null">
                statement = #{record.statement,jdbcType=VARCHAR},
            </if>
            <if test="record.defaultStation != null">
                default_station = #{record.defaultStation,jdbcType=VARCHAR},
            </if>
            <if test="record.currentStrength != null">
                current_strength = #{record.currentStrength,jdbcType=INTEGER},
            </if>
            <if test="record.headPortrait != null">
                head_portrait = #{record.headPortrait,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user
        set id = #{record.id,jdbcType=INTEGER},
        u_id = #{record.uId,jdbcType=INTEGER},
        gender = #{record.gender,jdbcType=INTEGER},
        nickname = #{record.nickname,jdbcType=VARCHAR},
        city = #{record.city,jdbcType=VARCHAR},
        statement = #{record.statement,jdbcType=VARCHAR},
        default_station = #{record.defaultStation,jdbcType=VARCHAR},
        current_strength = #{record.currentStrength,jdbcType=INTEGER},
        head_portrait = #{record.headPortrait,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.mt.metro.entity.User">
        update user
        <set>
            <if test="uId != null">
                u_id = #{uId,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="statement != null">
                statement = #{statement,jdbcType=VARCHAR},
            </if>
            <if test="defaultStation != null">
                default_station = #{defaultStation,jdbcType=VARCHAR},
            </if>
            <if test="currentStrength != null">
                current_strength = #{currentStrength,jdbcType=INTEGER},
            </if>
            <if test="headPortrait != null">
                head_portrait = #{headPortrait,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mt.metro.entity.User">
        update user
        set u_id = #{uId,jdbcType=INTEGER},
        gender = #{gender,jdbcType=INTEGER},
        nickname = #{nickname,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        statement = #{statement,jdbcType=VARCHAR},
        default_station = #{defaultStation,jdbcType=VARCHAR},
        current_strength = #{currentStrength,jdbcType=INTEGER},
        head_portrait = #{headPortrait,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>